
<div class=""></div>
    <header id="header">
        <%- include("sidebar.ejs"); %>
        <div id="div-logo">
            <h1 id="logo">PANGEIA</h1>
        </div>
        <div class="search">
            <%- include("search.ejs"); %>
        </div>         
    </header>
    <script src="/scripts/sidebar.js"></script>
    <script src="/scripts/filter.js"></script> 