<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/partials/header-main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="top-body">
        <section class="top">
            <div class="name-infos">
                <ul>
                    <li>
                        <h3 class="db-name">DATABASE:</h3>
                    </li>
                    <li>
                        <h2 class="tb-name">TB_BDAW_UAJRA</h2>
                    </li>
                </ul>
            </div>
            <div class="content-level">
                <figure>
                    <img src="../imagens/Senstive 2.svg" alt="">
                </figure>
            </div>
            <label for="">Contém dados sensíveis</label>
        </section>
        <nav class="nav-bat-top-main">
            <section>
                <div class="nav-bat-top-butom" id="over-view">
                    <a class="nav-bat-top-main-text">Visão Geral</a>
                </div>
                <div class="nav-bat-top-butom" id="table-view">
                    <a class="nav-bat-top-main-text">Tabela</a>
                </div>
                <div class="nav-bat-top-butom" id="datas-view">
                    <a class="nav-bat-top-main-text">Amostra de Dados</a>
                </div>
            </section>
            <hr>
        </nav>
    </div>
</body>
</html>