
<div class="header">
    <%- include("sidebar.ejs"); %>
        <div id="div-logo">
            <a href="/">
                <h1 id="logo">PANGEIA</h1>
            </a>
        </div>
        <div class="search">
            <%- include("search.ejs"); %>
        </div> 
</div>             
    <script src="/scripts/sidebar.js"></script>
    <script src="/scripts/filter.js"></script> 