<div class="sidebar-content">
    <aside id="sidebar">
        <button onclick="closeMenu()" class="close-buttom">Fechar</button>
        <ul class="menu-items">
            <li>
                <a href="/">
                    <img src="/img/ icon _home 2_.png" alt="">
                    <label for="">PGINA INICIAL</label>
                </a>          
            </li>
            <li>
                <a href="#">
                    <img src="/img/ icon _book saved_.png" alt="">
                    <label for="">TUTORIAS</label>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/img/ icon _note_.png" alt="">
                    <label for="">REPORTES</label>
                </a> 
            </li>
            <li>
                <a href="#">
                    <img src="/img/ icon _verify_.png" alt="">
                    <label for="">SOLICITAO DE ACESSO</label>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/img/Group 3.png" alt="">
                    <label for="">TEMA ESCURO</label>
                </a>
            </li>
        </ul>
    </aside>
    <section>
        <butto onclick="openMenu()" class="menu-buttom">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </button> 
    </section>
</div>


<script src="/js/sidebar.js"></script>