
<section class="table-content">
    <div class="top-desc">
        <section class="desc-area">
            <h3 class="desc-table">Descrição da Tabela:</h3>
            <p class="desc-table-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio in aut optio fuga nihil eligendi ipsam cumque praesentium quidem! Iure rem, minima eaque natus velit odio ducimus esse veniam dolores.</p>
        </section>
    </div>
    <table class="table">
        <thead class="table-head">
            <tr class="table-row-head">
                <th>ÍNDICE</th>
                <th>NOME DO CAMPO</th>
                <th>TIPO DO CAMPO</th>
                <th>TIPO DE PESSOA</th>
                <th>DESCRIÇÃO DO CAMPO</th>
                <th>CHAVE PRIMÁRIA</th>
                <th>ACEITA VAZIO</th>
                <th>DADO ÚNICO</th>
                <th title="">VOLÁTIL</th>
                <th>LGPD</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                
            </tr>
        </tbody>
        <tbody>
            
        </tbody>
    </table> 
</section>
<button type="button" onclick="addTableRows()" value="TESTE">TESTE</button>
<script src="/js/table.js" on=""></script>