:root{
    --main-color:#3CC1FE;
}

body, html{
    background-color:  transparent;
    width: 99%;
    height: 99%;
    font-family: "Montserrat", sans-serif;
}
.filter-area{
    width: 100%;
    height: max-content;
}
.filter-area #filter-box{
    background-color: var(--main-color);
    max-width: 100%;
    margin: auto;
    position: absolute;
    padding: 10px;
    display: none;
    border-radius: 30px;
    border: #26b6f9 5px solid;
    box-shadow: 2px 2px 5px black;
    margin: auto;
}
.filter-area #filter-box ul {
    display: flex;
    list-style: none;
    padding: 0px;
    height: 125px;
}
.filter-area #filter-box div{
    margin: 10px;
    align-items: center;
}
.filter-area #filter-box ul li {
    margin-left: 10px;
    margin-right: 10px;
}
.filter-area #filter-box ul li select{
    border-radius: 20px;
    outline: none;
    max-width: 120px;
    font-size: 20px;
    background: white;
    cursor: pointer;
}
.filter-area #filter-box ul li div{
    width: 100px;
}
.filter-area #filter-box ul li select:hover{
    background: #c4ecff;
    transition: 150ms;
}
/*does not work in webkit browsers: chrome/safari)*/
/* select alternating items starting with the second item */
select option:nth-of-type(2n) {
    background: rgba(0,0,0,0.1);
  }