:root{
    --main-margin: 0;
    --border-top-main: 2px solid #07B2FD;
    --default-top-main: 2px solid #646464;
    --mains-color: #07B2FD;
    --default-color: #646464;
    --cover-boder: white 4px solid;
}

*{
    margin: var(--main-margin);
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100%;
    height: 99%;
}

.top-body{
    align-items: center;
    width: 100%;
}
.top{
    display: flex;
}
.top label{
    color: rgba(87,87,87,0.4);
}
.name-infos ul{
    list-style: none;
}
.db-name{
    font-weight: 200;
    font-size: larger;
}
.tb-name{
    font-weight: 700;
    font-size: x-large;
}
.content-level{
    margin-left: 65%;
    display: flex;
}
.content-level label{
    margin: 10px auto;
}
.nav-bat-top-main section{
    display: flex;
    margin-left: 40%;
}
.nav-bat-top-butom{
    margin:0 2px;
    padding: 5px;
    border: var(--default-top-main);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
}
#over-view{
    z-index: 1;
    border: var(--border-top-main);
    border-bottom: var(--cover-boder);
  
}
.nav-bat-top-butom:hover{
    background: var(--mains-color);
    color: white;
    transition: all 0.3s;
    
}
.nav-bat-top-main-text{
    margin: 10px;
    cursor: pointer;
}
hr{
    margin-top: -4px;
    border:var(--border-top-main);
    z-index: 1;
}