#header{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
}
.search{
    margin: 0;
    min-width: 40%;
    margin: 0 auto;
}
#div-logo{
    width: 40%;
}
#logo{
    margin: 0  20%;
    font-size: 72px;
    width: 100%;
    color: #373740;
}
