:root{
    --main-color:#3CC1FE;
    --dark-color: #242940;
    --table-head-border: #000 4px solid;
    --table-head-color: #fff;
    --table-row-hover: #aeaeae79;
}
html, body{
    font-family: sans-serif;
    width: 99%;
    height: 98%;
    margin: auto;
}

.table-content .top-desc{
    display: flex;
}
.table-content .desc-area{
    width: 100%;
    margin: 0 2.5%;
    font-family: Montserrat, sans-serif;
}
.table-content .desc-table{
    margin: 0;
    font-size: 30px;
}
.table-content .desc-table-text{
    margin: 0;
    max-width: 50%;
    font-size: 15px;
}
.table-content .button-report{
    cursor: pointer;
    border: none;
    background: transparent;
}
.table-content .table{ 
    width: 97.5%;
    border: var(--table-head-border);
    border-radius: 13px; 
    border-spacing: 0;
    margin: 10px auto;
    font-family: "Fredoka";
    font-weight: lighter;
    font-size: 16px;
}
.table-content .table-head .table-row-head{
    background: var(--dark-color);
    color: var(--table-head-color);
    
}
.table-content .table-head th{
    border-bottom: var(--table-head-border);
    padding: 5px;
}
.table-content .table td { 
    border-bottom: none;
    padding: 10px; 
    text-align: center;
}
.table-content table tr:last-child > td {
    border-bottom: none;
  }
.table-content .table-body tr:nth-of-type(2n){
    background-color: var(--main-color);
}
.table-content .table-body tr:hover{
    background: var(--table-row-hover);
}
