:root{
    --main-color:#3CC1FE;
}

body, html{
    background-color:  transparent;
    width: 99%;
    height: 99%;
    font-family: "Montserrat", sans-serif;
}
#filter-box{
    background-color: var(--main-color);
    max-width: 100%;
    margin: auto;
}
#filter-box ul {
    display: flex;
    list-style: none;
    padding: 0px;
    height: 125px;
}
#filter-box div{
    margin: 10px;
    align-items: center;
}
#filter-box ul li {
    margin-left: auto;
    margin-right: auto;
}
#filter-box ul li select{
    border-radius: 20px;
    outline: none;
    max-width: 120px;
    font-size: 16px;
}
#filter-box ul li div{
    width: 100px;
}
#filter-box ul li select:hover{
    cursor: pointer;
}
/*does not work in webkit browsers: chrome/safari)*/
select option {
    background: white;
    font-size: 16px;
  }
/* select alternating items starting with the second item */
select option:nth-of-type(2n) {
    background: rgba(0,0,0,0.1);
  }