
:root{
    --main-color:#3CC1FE;
}
html,body{
    width: 99%;
    height: 99%;
    margin: 0;
}
#main-menu{
    margin: 0;
}
.menu-buttom{
    background: transparent;
    border: none;
    cursor: pointer;
}
#sideBar{   
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
    position:absolute;
    height: 100%;
    width: 25%;
    background-color: var(--main-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
#sideBar ul{
    list-style: none;
    padding: 0;
}
#sideBar ul li{
    margin: 10px;
    align-items: center;
}
#sideBar ul li a{
    width: 100%;
    height: 100%;
    text-decoration: none;
}
#sideBar ul li a label{
    margin: 20px;
    font-size: large;
    color: black;
}

.close-buttom{
    margin: auto;
    width: 100%;
    border: none;
    background-color: transparent;
}
.space{
    width: 100%;
    height: 5px;
}
.bar1{
    width: 80px;
    height: 15px;
    background-color: var(--main-color);
    margin: 5px;
    margin-top: 0;
    border-radius: 20px;
}
.bar2{
    width: 65px;
    height: 15px;
    background-color: var(--main-color);
    margin: 5px;
    border-radius: 20px;
}
.bar3{
    width: 45px;
    height: 15px;
    background-color: var(--main-color);
    margin: 5px;
    border-radius: 20px;
}